<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>bestautoautologhistory</name>
  <displayName><![CDATA[BestAuto Autolog History]]></displayName>
  <version>1.0.0</version>
  <description><![CDATA[Проследяване на действия на екипа + Git история. Разработен от Tsvetelin Penkov.]]></description>
  <author><![CDATA[Tsvetelin Penkov]]></author>
  <tab>administration</tab>
  <is_configurable>1</is_configurable>
  <need_instance>1</need_instance>
  <ps_versions_compliancy min="1.7.5.0" max="1.7.9.9"/>
</module>
